 <h1>Employee Details {{data.length}}</h1>

 <hr>

 <div>
   <select #dept (change)='onDeptOptionsSelected(dept.value)'>
      <option selected>--- Departments ---</option>
     <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
   </select>
   <input type="text" placeholder="Name / Email"/>
   <button >Search</button>
   <button >Reset and Reload Data</button>
   <select >
      <option selected>name(a-z)</option>
      <option >name(a-z)</option>
      <option >age</option>
      <option >email</option>
    </select>
 </div>

 <table class="table">
    <thead>
      <tr>
        <th>Emp Name</th>
        <th>Age</th>
        <th>Email Address</th>
        <th>Departments</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of data">
        <td>{{emp.name}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.email}}</td>
        <td><span title="{{emp.departments.toString()}}">{{emp.departments.length}}  {{emp.departments.toString()}}</span></td>
      </tr>
    </tbody>
 </table>

