

.shortBy{
    float: right;
  clear: both;
  margin-right: 20px;
}

.dept{
margin-left: 20px;
}
.searchByNameAndEmail{
    margin-left: 30px;
    width: 30%;
    }
.btnSpace{
    box-shadow: 3px 3px grey;
    margin-left: 30px;
}

#employees {
    
    border-collapse: collapse;
    border:2px solid black;
    width: 100%;
    margin-top: 5px;
  }
  
  #employees td {
    padding: 8px;
  }
  
  #employees tr:nth-child(odd){
      background-color: #dddada;
    }
  
  #employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #afadad;
    color:black;
  }
  th, td {
    border-left: 1px solid black;
  }
  