 <h1>Employee Details {{data.length}}</h1>

 <hr>

 <div>
   <select #dept (change)='onDeptOptionsSelected(dept.value)'>
      <option selected>--- Departments ---</option>
     <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
   </select>
   <input type="text" [(ngModel)]="searchData" placeholder="Name / Email"/>
   <button (click)="onSearch(dept.value)">Search</button>
   <button (click)="resetData()">Reset and Reload Data</button>
   <select #sort (change)="sortOrderChange(sort.value)">
    <option selected value="nameasc">name(a-z)</option>
    <option value="namedsc">name(z-a)</option>
    <option value="ageasc">age</option>
    <option value="emailasc">email</option>
  </select>
 </div>

 <table class="table">
    <thead>
      <tr>
        <th>Emp Name</th>
        <th>Age</th>
        <th>Email Address</th>
        <th>Departments</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of data">
        <td>{{emp.name}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.email}}</td>
        <td><span title="{{emp.departments.toString()}}">{{emp.departments.length}}  {{emp.departments.toString()}}</span></td>
      </tr>
    </tbody>
 </table>

